<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YENIXA 2026 | Time Travel Arena</title>

    <link rel="preload" href="../assets/yenepoya_logo.webp" as="image">
    <link rel="preload" href="../assets/Yenixa logo.webp" as="image">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Oxanium:wght@300;400;600;700&family=Orbitron:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/timeline.css">
            <link rel="icon" type="image/png" href="../assets/yenixa_logo_black.svg">

    
</head>

<body>
    <video autoplay muted loop id="bgVideo">
        <source src="../assets/videos/bg2_video.mp4" type="video/mp4">
    </video>
    <nav class="yenixa-navbar">
        <div class="nav-left">

            <button class="nav-btn" onclick="window.history.back()" aria-label="Go Back">
            <i class="fas fa-arrow-left"></i>
        </button>
            <h1 class="nav-title">YENIXA 2026</h1>
        </div>

        <div class="nav-right">
            <a href="../index.html" class="nav-btn" aria-label="Home">
                <i class="fas fa-home"></i>
            </a>
        </div>
    </nav>

    <div id="contentOverlay" class="content-overlay">
        <div class="left-panel">
            <div class="logo-box">
                <img id="eventLogo" src="" alt="">
            </div>
            <h1 id="eventName"></h1>
            <div id="eventSubtitle" class="functional-subtitle"></div>
        </div>
        <div class="right-panel">
            <div class="description-box">
                <p id="eventDescription"></p>
            </div>
            <button class="view-more" onclick="viewEventDetails()">VIEW MORE</button>
        </div>
    </div>

    <canvas id="circleCanvas"></canvas>
    <script src="../js/components.js"></script>
    <script src="../js/timeline.js"></script>
</body>

</html>